body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #282c34;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  text-align: center;
}

* {
  user-select: none; /* Disables text selection */
  -webkit-user-select: none; /* For Safari */
  -ms-user-select: none; /* For IE/Edge */
}
